
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/Aboutus.css" rel="stylesheet" />
<script src="~/js/aboutUs.js"></script>
<div id=content>
    <div class="aboutUs-main-container">
        <section class="page-content__section page-content__section--color1 page-content__section--bg1 section-1">
            <h1 class="page-content__section-title">Parallax testing</h1>
            <div class="page-content__section-content">
                <img class="page-content__section-icon" src="https://img.icons8.com/cotton/64/000000/tree.png" />
            </div>
            <div class="page-content__section-scroll">Scroll down</div>
        </section>
        <section class="section-2">
            <div class="part-3">

                <h2 class="text-color even" id="2014">2014</h2>

            </div>
        </section>
        <section class="section-3 position-relative section-space overflow-hidden">
            <div class="container">
                <div class="3Left main-para">
                    <div class="dateText">APRIL 2014</div>
                    <p class="mb-5">
                        Blind Barber opens in the East Village. An idea that Jeff had written on a piece of paper comes
                        to life thanks to some handshakes and Josh and Adam’s killer experience in the F&B world.
                    </p>
                    <p>
                        The minute the doors opened, we knew we were onto something. Friends came through, parties were
                        thrown and a brand was born.
                    </p>
                </div>
                <div class="containers">
                    <div class="square square-1" data-distance="-90">
                        <img src="https://cdn.sanity.io/images/gaq6qdq1/production/05d61f2ccc8d20a45a10973fbd69a041790e57bf-5588x3813.jpg">
                    </div>
                    <div class="square square-2" data-distance="-30">
                        <img src="https://cdn.sanity.io/images/gaq6qdq1/production/05d61f2ccc8d20a45a10973fbd69a041790e57bf-5588x3813.jpg">
                    </div>
                    <div class="square square-3" data-distance="-50">
                        <img src="https://cdn.sanity.io/images/gaq6qdq1/production/05d61f2ccc8d20a45a10973fbd69a041790e57bf-5588x3813.jpg">
                    </div>

                </div>
            </div>

        </section>
        <section class="section-space">
            <div class="container">
                <div class="2014-video">
                    <video playsinline="" autoplay="" muted="" loop="">
                        <source src="https://player.vimeo.com/external/453746040.hd.mp4?s=067efc60c60e44268a048c69dff1fda03f8f9c0e&amp;profile_id=174"
                                type="video/mp4">
                    </video>
                </div>

                <div class="main-para max-500">
                    <div class="dateText">May 2014</div>
                    <p class="mb-5">
                        Ideas are real things with real energy. You just need to have the right ingredients to bring
                        them to life: hard work, passion, honesty and most importantly, great friends.
                    </p>

                </div>
            </div>

        </section>
        <section class="section-2">
            <div class="part-3">
                <h2 class="text-color even" id="2015">2015</h2>
            </div>
        </section>
        <section class="section-space black-bg p-5">
            <div class="container">
                <div class="newYork-svg text-center py-4">
                    <img class="w-100" alt=""
                         src="https://cdn.sanity.io/images/gaq6qdq1/production/d5badc5ad1b83ea6394494f1c2afb53448e6c243-185x25.svg">
                </div>
                <div class="center-width">
                    <div class="month__content">
                        <div class="main-para max-500 text-white">
                            <div class="dateText text-white">May 2015</div>
                            <p>One from the esteemed Frank Bruni for the Tipsy Diaries in the New York Times.</p>
                            <p>
                                <a class="dateText text-white" href="#" target="_blank" rel="noopener">
                                    read NYT
                                    article
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="webPageimage">
                        <img src="https://cdn.sanity.io/images/gaq6qdq1/production/3154b9e3ad904d508b8eeb1c1046f05af13dafc5-1000x1732.jpg">
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

