body{
    font-size: 14px;
}
.slick-gallery.banner-gallery.menu-move {
    overflow: hidden;
    height: 625px;
}
.banner-gallery a, .banner-gallery picture {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
}
.banner-gallery img {
    height: 625px !important;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.product-filter {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}
    .product-filter.visible .product-filter-wrapper {
        opacity: 1;
    }
.product-filter-wrapper {
    margin: 0 auto;
    max-width: 1110px;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.product-filter-mobile-trigger {
    cursor: pointer;
    display: none;
    font-family: brandon_grotesquemedium,sans-serif;
    font-size: 14px;
    height: 50px;
    letter-spacing: 2px;
    padding: 16px 0 0;
    text-transform: uppercase;
}
.menu-move {
    transition: transform .4s ease,-webkit-transform .4s ease;
}
.product-filter .product-filter-wrapper > .product-filter-reset {
    display: none;
}
.product-filter .widget-woof {
    margin-bottom: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease;
    width: 100%;
}
.product-filter .product-filter-reset .button.inactive {
    border-color: #d9d9d9;
    color: #d9d9d9;
    cursor: default;
}
.product-filter .product-filter-reset .button {
    background: 0 0;
    border: solid 1px #000;
    color: #2d2d2d;
    float: none !important;
    font-family: brandon_grotesquemedium,sans-serif;
    font-size: 14px !important;
    height: 30px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0 !important;
    padding: 5px 0 3px !important;
    width: 80px;
}
.woof_sid_widget .woof_edit_view {
    display: none;
}
.woof_edit_view {
    position: relative;
    float: right;
    clear: both;
    opacity: .7;
    z-index: 9999;
    margin-top: -20px;
}
.product-filter .woof_redraw_zone {
    display: flex;
    justify-content: space-between;
}
    .product-filter .woof_redraw_zone .woof_container {
        margin-bottom: 0;
        padding-bottom: 0;
    }
.woof_container_overlay_item {
    display: none;
    color: red;
    padding: 4px;
}
.product-filter .woof_container_inner {
    align-items: center;
    display: flex;
    height: 65px;
    position: relative;
}
    .product-filter .woof_container_inner h4 {
        color: #2d2d2d;
        font-family: brandon_grotesquemedium,sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
        .product-filter .woof_container_inner h4:after {
            background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMXB4IiB2aWV3Qm94PSIwIDAgMTggMTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cG9seWdvbiBzdHJva2U9IiNGRkZGRkYiIGZpbGw9IiMyRDJEMkQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDguODU5MjQwLCA0Ljg2NTgzNCkgcm90YXRlKC05MC4wMDAwMDApIHRyYW5zbGF0ZSgtOC44NTkyNDAsIC00Ljg2NTgzNCkgIiBwb2ludHM9IjExLjg1MjM0MDkgLTIuOTkzNDA2NCA1Ljg2NTgzNDAzIDIuOTkzMTAwNSAzLjk5MzQwNjQgNC44NjU4MzQwMyA1Ljg2NTgzNDAzIDYuNzM4MjYxNjYgMTEuODUyMzQwOSAxMi43MjUwNzQ1IDEzLjcyNTA3NDUgMTAuODUyMzQwOSA3LjczODI2MTY2IDQuODY1ODM0MDMgMTMuNzI1MDc0NSAtMS4xMjA2NzI4NyI+PC9wb2x5Z29uPgogICAgPC9nPgo8L3N2Zz4=) no-repeat center center;
            content: "";
            display: inline-block;
            height: 10px;
            margin-left: 14px;
            width: 16px;
        }
.product-filter .woof_block_html_items {
    background: #fff;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 25%);
    color: #9d9d9d;
    font-family: museo_sans500;
    left: -999em;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: translateX(-50%);
    width: 340px;
    z-index: 1;
}
input, textarea, select {
    font: 100% museo_sans300,arial,helvetica,sans-serif;
    color: #000;
    vertical-align: middle;
}
.product-filter .woof_redraw_zone .woof_container {
    margin-bottom: 0;
    padding-bottom: 0;
}
.product-filter .woof_container_inner:hover:after, .product-filter .woof_container_inner:hover .woof_block_html_items {
    left: 50%;
}
.woof_block_html_items {
    background: #fff;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 25%);
    color: #9d9d9d;
    font-family: museo_sans500;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: translateX(-50%);
    width: 340px;
    z-index: 1;
}
.product-filter .woof_block_html_items .woof_list {
    max-height: 75vh;
    overflow-y: auto;
    padding: 18px 30px 28px;
}
    .product-filter .woof_block_html_items .woof_list li {
        margin: 0 !important;
        padding-bottom: 0 !important;
    }
.woof_list li {
    list-style: none !important;
    padding: 0 0 5px !important;
}
.product-filter .woof_block_html_items .jcf-radio, .product-filter .woof_block_html_items .jcf-checkbox {
    background: #d9d9d9;
    border: 0;
    border-radius: 100%;
    float: right;
    height: 8px;
    margin-right: 0;
    margin-top: 15px;
    width: 8px;
}
.jcf-checkbox {
    position: relative;
    overflow: hidden;
    cursor: default;
}
:root .jcf-checkbox span {
    margin: -8px 0 0 -7px;
}
.jcf-checkbox span {
    position: absolute;
    display: none;
    height: 10px;
    width: 15px;
    top: 50%;
    left: 50%;
    border: 4px solid #000;
    border-width: 0 0 4px 4px;
    transform: rotate( -45deg );
}
.product-filter .woof_block_html_items label {
    margin-left: 0;
    max-width: 242px;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.woof_checkbox_count {
    margin-left: 3px;
}
.product-filter .woof_block_html_items label {
    white-space: nowrap;
}
    .product-filter .woof_block_html_items label.jcf-label-active, .product-filter .woof_block_html_items li:hover label {
        color: #000;
    }
ul.woof_list {
    margin: 0 !important;
    list-style: none !important;
}
#main {
    position: relative;
    overflow: hidden;
    width: 100%;
}
#main {
    padding-bottom: 60px;
}
.products-holder {
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    overflow: hidden;
}
.woocommerce ul.products, .woocommerce-page ul.products {
    clear: both;
}
.woocommerce .products ul, .woocommerce ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
}
    .woocommerce ul.products::after, .woocommerce ul.products::before, .woocommerce-page ul.products::after, .woocommerce-page ul.products::before {
        content: " ";
        display: table;
    }
.product-box.col-3 {
    border-left: solid 3px #fff;
    border-right: solid 3px #fff;
    width: 25%;
    float: left;
    padding: 0;
    z-index:0
}
.product-box .pc_overlay {
    text-decoration: none;
}
.product-box .img-holder {
    height: 422px;
    width: 100%;
    white-space: nowrap;
    background: #f2f2f2;
}
.product-box .img-holder {
    position: relative;
}
.second-product-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover !important;
    z-index: 999;
    opacity: 0;
    transition: all 300ms ease;
}
.product-box .img-holder > .frame {
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
}
.dynamic-frame, .dynamic-frame-single {
    position: absolute;
    width: 212px;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
}
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}
.product-box .img-box {
    position: relative;
    width:200px;
}
    .product-box .img-box img {
        display: block;
        width: 100%;
        height: auto;
    }
span.et_shop_image {
    display: none !important;
}
.product-box .img-holder:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    overflow: hidden;
    margin: 0 0 0 -5px;
    vertical-align: middle;
}
.product-box .text-block {
    width: 100%;
    height: 132px;
    white-space: nowrap;
    text-align: left;
    background: #fff;
    position: relative;
}
    .product-box .text-block > .frame {
        padding-top: 20px;
        white-space: normal;
    }
.product-box h3 {
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    font-weight:900
}
    .product-box h3 a {
        color: inherit;
        text-decoration: none;
        transition: color .6s ease;
    }
.product-box .sub-title {
    display: block;
    font-weight: 400;
    max-width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.6;
}
    .product-box .sub-title > div {
        display: inline;
    }
    .product-box .sub-title a {
        text-decoration: none;
    }
    .product-box .sub-title .price {
        color: #333 !important;
        display: inline-block !important;
        font-weight: 700 !important;
    }
.product-box .pc_overlay:hover:after {
    opacity: 1;
}
.product-box .pc_overlay:after {
    content: '\A';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    opacity: 0;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
}
article.product-box:hover .second-product-image {
    opacity: 1;
}
.product-box{
    text-align:center
}
button.button.woof_submit_search_form{
    display:none
}
a {
    text-decoration: underline;
    color: #000;
    outline: none;
}
.slick-dots li button:before {
    color: #8f8d8d
}
.slick-dots{
    margin-bottom:2px !important;
}
@media (max-width: 1279px) {
    .product-box.col-3 {
        width: 50%;
        max-width: 50%;
    }
}

@media (max-width: 426px) {
    .product-box.col-3 {
        width: 100%;
        max-width: 100%;
    }
}


/*Filter*/
@media (max-width: 1023px) {
    .product-filter .widget-woof {
        background: #fff;
        height: 100vh;
        left: 0;
        overflow-y: auto;
        padding-top: 65px;
        position: fixed;
        top: 0;
        transform: translateX(100%);
        z-index: 0;
        -webkit-overflow-scrolling: touch;
    }
    .product-filter .woof_redraw_zone {
        display: block;
    }
        .product-filter .woof_redraw_zone .woof_container {
            display: block;
            text-align: left;
        }
        .product-filter .woof_redraw_zone .woof_container {
            border-bottom: solid 1px #d9d9d9;
        }
    .product-filter .woof_container_inner {
        display: block;
        height: auto;
    }
        .product-filter .woof_container_inner h4 {
            cursor: pointer;
            font-size: 14px;
            margin: 0 auto;
            max-width: 375px;
            padding: 17px 15px 13px;
            position: relative;
        }
            .product-filter .woof_container_inner h4:after {
                float: right;
                margin-left: 8px;
                margin-top: 5px;
                position: absolute;
                right: 15px;
                top: 18px;
            }
    .product-filter .woof_block_html_items {
        border-top: solid 1px #d9d9d9;
        box-shadow: none;
        display: none;
        left: 0;
        padding-bottom: 15px;
        padding-top: 5px;
        position: relative;
        top: 0;
        -ms-transform: none;
        transform: none;
        width: auto;
    }
        .product-filter .woof_block_html_items .woof_list {
            margin: 0 auto !important;
            max-height: none;
            max-width: 375px;
            padding: 0 15px;
        }
            .product-filter .woof_block_html_items .woof_list li {
                position: relative;
            }
        .product-filter .woof_block_html_items .jcf-radio, .product-filter .woof_block_html_items .jcf-checkbox {
            position: absolute;
            right: 4px;
            top: 7px;
        }
        .product-filter .woof_block_html_items label {
            font-size: 15px;
            max-width: none;
            padding-bottom: 15px;
            padding-top: 15px;
            width: 100%;
        }
    .product-filter-mobile-trigger {
        display: block;
    }
    .product-filter .woof_container_inner:hover:after, .product-filter .woof_container_inner:hover .woof_block_html_items {
        left: 0;
    }
    .product-filter .woof_block_html_items .woof_list {
        margin: 0 auto !important;
        max-height: none;
        max-width: 375px;
        padding: 0 15px;
    }
        .product-filter .woof_block_html_items .woof_list li {
            position: relative;
        }
    .product-filter .woof_block_html_items .jcf-radio, .product-filter .woof_block_html_items .jcf-checkbox {
        position: absolute;
        right: 4px;
        top: 7px;
    }
    .product-filter .woof_block_html_items label {
        font-size: 15px;
        max-width: none;
        padding-bottom: 15px;
        padding-top: 15px;
        width: 100%;
    }
    .product-filter .woof_container_open .woof_block_html_items {
        display: block;
    }
    .filter-visible .product-filter .widget-woof {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
} 